<section class='our-work'>
  <div class="vertical">
    <div class="vertical__bar">_</div>
    <h5><%= t('our_work.title') %></h5>
  </div>
  <div class='our-work__wrapper'>
    <% t('our_work.projects').each do |project| %>
      <div class='our-work__wrapper--image'>
        <img src='images/photo.png' />
      </div>
      <div class='our-work__wrapper--description'>
        <h2><%= project[:title] %></h2>
        <h6><%= project[:description] %></h6>
        <a href='<%= project[:link] %>'>
          <%= project[:linktext] %>
          <img src='images/arrow_right.svg' />
        </a>
      </div>
    <% end %>
  </div>
</section>
